@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/** common styles =====> **/
.card {
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
    &:hover {
        border-color: #4fb68d;

        .add_cart {
            bottom: 0 !important;
            opacity: 1 !important;
        }
        .card-body {
            padding-bottom: 10px;
        }
        .card-header {
            i {
                font-size: 18px;
                padding: 10px;
            }
        }

    }
    .card-header {
        background-color: #fff;
        position: relative;
        border-bottom: 0;
        position: relative;
        i {
            font-size: 0px;
            display: inline-block;
            padding: 0px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translateX(-50%);
            transition: all ease .4s;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: #4fb68d;
            }
        }
        img {
            width: 100%;
        }
        span {
            display: inline-block;
            background-color: #4FB68D;
            color: white;
            font-size: 12px;
            padding: 2px 5px;
            border-radius: 5px;
            font-weight: 700;
            position: absolute;
            left: 10px;
            top: 10px;
        }
    }
    .card-body {
        padding-bottom: 0;
        position: relative;
        overflow:hidden;
        padding-top: 0;
        transition: all ease .3s;
        span {
            font-size: 12px;
            color: #999;

        }
        h6 {
            font-size: 14px;
            font-weight: 700;
        }
        > p {
            color: #9b9b9b;
            font-size: 14px;
        }
        div {
            > i {
                font-size: 16px;
                color: #FDD835;
            }
        }
        .add_cart {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: -50px;
            opacity: 0;
            left: 0;
            width: 100%;
            transition: all ease .4s;
            padding: 2px 12px 20px;
            .add_cart_left {
                p {
                    font-weight: 700;
                    font-size: 12px;                            
                    position: relative;
                    margin-bottom: 0;
                    line-height: 28px;
                    cursor: pointer;

                    &:hover {
                        color: #4fb68d;
                    }
                    &:hover::after {
                        background-color: #4fb68d;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: black;
                        height: 2px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .add_cart_right {
                i {
                    font-size: 18px;
                    color: #253237;
                    margin-left: 5px;
                    cursor: pointer;
                    &:hover {
                        color: #4fb68d;
                    }
                }
            }
        }
    }
}
.product_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .title_left {
        p {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 0;
        }
        span {
            font-size: 14px;
            line-height: 1;
            color: #888;
        }
    }
    .title_right {
        div {
            i {
                display: inline-block;
                margin-left: 10px;
                font-size: 20px;
                color: #888;
                border: 1px solid #ebebeb;
                border-radius: 50%;
                padding: 5px;
                transition: background-color ease .4s;
                &:hover {
                    background-color: #4FB68D;
                    color: white;
                    
                }
                &:hover .add_cart {
                    bottom: 0 !important;
                }
            }
        }
    }
}

body {
    header {
        .welcome_text {
            padding: 10px 0;
            font-size: 14px;
            p {
                margin-bottom: 0;
            }
        }
        .header_right {
            ul {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                margin-bottom: 0;
                li {
                    list-style: none;

                    
                    a {
                        display: flex;
                        align-items: center;
                        color: #253237;
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 10px 20px;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            background-color: #253237;
                            right: 0;
                            width: 1px;
                            height: 15px;
                        }
                        i {
                            display: inline-block;
                            margin-right: 10px;
                        }
                        span {
                            display: inline-block;
                        }
                        .bx-chevron-down {
                            font-size: 20px;
                        }
                    }
                    &:last-child {
                        a {
                            padding-right: 0;
                            &::after {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    nav {
        padding: 20px 0;
        background-color: #253237;
        
        .logo {

            img {

            }
        }
        .nav_content {
            display: flex;
            justify-content: space-between;
            .nav_items {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 0;

                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: white;
                            font-size: 14px;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            padding: 10px 20px;
                            span {

                            }
                            i {
                                font-size: 22px;
                                font-weight: 300 !important;
                            }
                        }
                    }
                }
            }
            .search_buy {
                display: flex;
                align-items: center;
                ul {
                    display: flex;
                    margin-bottom: 0;
                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        &:first-child {
                            a {
                                margin-bottom: -7px;
                            }
                        }
                        &:last-child {
                            a {
                                display: flex;
                                align-items: center;
                            }
                        }
                        a {
                            text-decoration: none;
                            color: white;
                            font-weight: 700;
                            padding-left: 20px;
                            
                            i {
                                font-size: 32px;
                            }
                            span {
                                margin-left: 10px;
                                font-size: 14px;

                            }
                        }
                    }
                }
            }
        }
    }
    .slider {
        background: url(../img/slider/sample-5.jpg);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        .slider_text {
            span {
                color: #253237;
                font-style: italic;
                font-size: 16px;
            }
            h2 {
                font-size: 42px;
                font-weight: 600;
            }
            button {
                background-color: #4fb68d;
                color: white;
                border: none;
                border-radius: 30px;
                font-size: 14px;
                padding: 8px 20px;
                font-weight: bold;
                margin: 20px 0;
            }
        }
    }
    .banner {
        .banner_left {
            img {
                width: 100%;
            }
        }
        .banner_right_1 {
            margin-bottom: 24px;
            img {
                width: 100%;
            }
        }
        .banner_right_2 {
            img {
                width: 100%;
            }
        }
    }
    .services {
        margin: 60px 0;
        .services_container {
            border: 1px solid #ebebeb;
            padding: 25px;
            .service_item {
                display: flex;
                align-items: center;
                img {
                    display: inline-block;
                    margin-right: 10px;
                }
                div {
                    p {
                        margin-bottom: 0;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1;
                    }
                    span {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .best_seller {
        margin-bottom: 60px;
        .product_title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .title_left {
                p {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
                span {
                    font-size: 14px;
                    line-height: 1;
                    color: #888;
                }
            }
            .title_right {
                div {
                    i {
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 20px;
                        color: #888;
                        border: 1px solid #ebebeb;
                        border-radius: 50%;
                        padding: 5px;
                        transition: background-color ease .4s;
                        &:hover {
                            background-color: #4FB68D;
                            color: white;
                            
                        }
                        &:hover .add_cart {
                            bottom: 0 !important;
                        }
                    }
                }
            }
        }
        .card {
            border: 1px solid #ebebeb;
            &:hover {
                border-color: #4fb68d;

                .add_cart {
                    bottom: 0 !important;
                    opacity: 1 !important;
                }
                .card-body {
                    padding-bottom: 15px;
                }
                .card-header {
                    i {
                        font-size: 22px;
                        padding: 12px;
                    }
                }

            }
            .card-header {
                background-color: #fff;
                position: relative;
                border-bottom: 0;
                position: relative;
                i {
                    font-size: 0px;
                    display: inline-block;
                    padding: 0px;
                    border-radius: 50%;
                    background-color: white;
                    position: absolute;
                    left: 50%;
                    top: 40%;
                    transform: translateX(-50%);
                    transition: all ease .4s;
                    cursor: pointer;

                    &:hover {
                        color: white;
                        background-color: #4fb68d;
                    }
                }
                img {
                    width: 100%;
                }
                span {
                    display: inline-block;
                    background-color: #4FB68D;
                    color: white;
                    font-size: 12px;
                    padding: 2px 5px;
                    border-radius: 5px;
                    font-weight: 700;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                }
            }
            .card-body {
                padding-bottom: 0;
                position: relative;
                overflow:hidden;
                padding-top: 0;
                transition: all ease .3s;
                span {
                    font-size: 12px;
                    color: #999;

                }
                h6 {
                    font-size: 14px;
                    font-weight: 700;
                }
                > p {
                    color: #9b9b9b;
                    font-size: 14px;
                }
                div {
                    > i {
                        font-size: 16px;
                        color: #FDD835;
                    }
                }
                .add_cart {
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: absolute;
                    bottom: -50px;
                    opacity: 0;
                    left: 0;
                    width: 100%;
                    transition: all ease .4s;
                    padding: 2px 12px 20px;
                    .add_cart_left {
                        p {
                            font-weight: 700;
                            font-size: 15px;                            
                            position: relative;
                            margin-bottom: 0;
                            line-height: 28px;
                            cursor: pointer;

                            &:hover {
                                color: #4fb68d;
                            }
                            &:hover::after {
                                background-color: #4fb68d;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                background-color: black;
                                height: 2px;
                                width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                    .add_cart_right {
                        i {
                            font-size: 22px;
                            color: #253237;
                            margin-left: 5px;
                            cursor: pointer;
                            &:hover {
                                color: #4fb68d;
                            }
                        }
                    }
                }
            }
        }
    }
    .featured_products {
        background-color: #F3F3F3;
        padding: 40px 0;
        background: url(../img/featured/feature-bg.jpg);
        background-size: cover;

        .featured_img {
            display: flex;
            align-items: center;
            height: 100%;
            img {
                width: 100%;
                
            }
        }
        .featured_product_item {

            &:hover {
                .featured_product_img {
                    i {
                        font-size: 18px;
                        padding: 10px;
                    }
                    
                }
            }
            background-color: white;
            display: flex;
            align-items: center;
            padding: 8px 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            width: 100%;
            border: 1px solid white;
            transition: all ease .4s;
            &:hover {
                border: 1px solid #4fb68d;
            }
            .featured_product_img {
                position: relative;
                img {   
                    width: 170px;
                }
                i {
                    font-size: 0px;
                    display: inline-block;
                    padding: 0px;
                    border-radius: 50%;
                    background-color: white;
                    position: absolute;
                    left: 50%;
                    top: 40%;
                    transform: translateX(-50%);
                    transition: all ease .4s;
                    cursor: pointer;
                    color: black;

                    &:hover {
                        color: white;
                        background-color: #4fb68d;
                    }
                }
            }
            .featured_product_details {
                span {
                    color: #999;
                    font-size: 12px;
                }
                h6 {
                    font-size: 14px;
                    font-weight: 700;
                }
                div {
                    i {
                        font-size: 14px;
                        color: #fdd835;
                    }
                }
                p {
                    color: #9b9b9b;
                    font-size: 15px
                }
            }
        }
    }
    .hot_deals {
        padding: 50px 0;
        .hot_deals_item {
            display: flex;
            align-items: center;
            border: 2px solid #4fb68d;
            border-radius: 5px;
            .hot_deals_img {
                position: relative;
                img {
                    max-width: 300px;
                }
                span {
                    display: inline-block;
                    background-color: #4FB68D;
                    color: white;
                    font-size: 12px;
                    padding: 2px 5px;
                    border-radius: 5px;
                    font-weight: 700;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                }
            }
            .hot_deals_details {
                text-align: center;
                > span {
                    color: #999;
                    font-size: 16px;
                }
                h6 {
                    font-size: 18px;
                    font-weight: 700;
                }
                > div {
                    i {
                        font-size: 15px;
                        color: #fdd835;
                    }
                }
                .price {
                    color: #9b9b9b;
                }
                > p {
                    color: #9b9b9b;
                    span {
                        color: #4fb68d;
                        font-size: 15px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .brands {
        margin: 50px 0;
        .brand_logo {
            border: 1px solid #ebebeb;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            flex-wrap: wrap;
            border-radius: 5px;
            img {
                display: inline-block;
                width: 170px;
            }
        }
    }
    .latest_blogs {
        margin-bottom: 60px;
        .blog_item {
            background-color: #f7f7f7;
            padding: 20px;
            &:hover {
                a {
                    margin-left: 20px;          
                }
            }
            button {
                border: none;
                background-color: #253237;
                color: #fff;
                border-radius: 30px;
                font-size: 12px;
                margin-bottom: 20px;
                padding: 3px 15px;
                text-transform: uppercase;
            }
            h6 {
                font-weight: 700;
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
            a {
                text-decoration: none;
                font-size: 14px;
                color: black;
                position: relative;
                transition: all ease .4s;
                i {
                    margin-left: 6px;
                    color: #4fb68d;
                    border-radius: 50%;
                    font-size: 14px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-40%);
                }
                
            }
        }
    }
}