@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/** common styles =====> **/
.product_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.product_title .title_left p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.product_title .title_left span {
  font-size: 14px;
  line-height: 1;
  color: #888;
}

.product_title .title_right div i {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  color: #888;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  padding: 5px;
  -webkit-transition: background-color ease .4s;
  transition: background-color ease .4s;
}

.product_title .title_right div i:hover {
  background-color: #4FB68D;
  color: white;
}

.product_title .title_right div i:hover .add_cart {
  bottom: 0 !important;
}

body header .welcome_text {
  padding: 10px 0;
  font-size: 14px;
}

body header .welcome_text p {
  margin-bottom: 0;
}

body header .header_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}

body header .header_right ul li {
  list-style: none;
}

body header .header_right ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #253237;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 20px;
  position: relative;
}

body header .header_right ul li a::after {
  content: "";
  position: absolute;
  background-color: #253237;
  right: 0;
  width: 1px;
  height: 15px;
}

body header .header_right ul li a i {
  display: inline-block;
  margin-right: 10px;
}

body header .header_right ul li a span {
  display: inline-block;
}

body header .header_right ul li a .bx-chevron-down {
  font-size: 20px;
}

body header .header_right ul li:last-child a {
  padding-right: 0;
}

body header .header_right ul li:last-child a::after {
  background-color: transparent;
}

body nav {
  padding: 20px 0;
  background-color: #253237;
}

body nav .nav_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .nav_content .nav_items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}

body nav .nav_content .nav_items ul li {
  list-style: none;
}

body nav .nav_content .nav_items ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

body nav .nav_content .nav_items ul li a i {
  font-size: 22px;
  font-weight: 300 !important;
}

body nav .nav_content .search_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .nav_content .search_buy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

body nav .nav_content .search_buy ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .nav_content .search_buy ul li:first-child a {
  margin-bottom: -7px;
}

body nav .nav_content .search_buy ul li:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .nav_content .search_buy ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding-left: 20px;
}

body nav .nav_content .search_buy ul li a i {
  font-size: 32px;
}

body nav .nav_content .search_buy ul li a span {
  margin-left: 10px;
  font-size: 14px;
}

body .slider {
  background: url(../img/slider/sample-5.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

body .slider .slider_text span {
  color: #253237;
  font-style: italic;
  font-size: 16px;
}

body .slider .slider_text h2 {
  font-size: 42px;
  font-weight: 600;
}

body .slider .slider_text button {
  background-color: #4fb68d;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: bold;
  margin: 20px 0;
}

body .banner .banner_left img {
  width: 100%;
}

body .banner .banner_right_1 {
  margin-bottom: 24px;
}

body .banner .banner_right_1 img {
  width: 100%;
}

body .banner .banner_right_2 img {
  width: 100%;
}

body .services {
  margin: 60px 0;
}

body .services .services_container {
  border: 1px solid #ebebeb;
  padding: 25px;
}

body .services .services_container .service_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .services .services_container .service_item img {
  display: inline-block;
  margin-right: 10px;
}

body .services .services_container .service_item div p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

body .services .services_container .service_item div span {
  font-size: 13px;
}

body .best_seller {
  margin-bottom: 60px;
}

body .best_seller .product_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

body .best_seller .product_title .title_left p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

body .best_seller .product_title .title_left span {
  font-size: 14px;
  line-height: 1;
  color: #888;
}

body .best_seller .product_title .title_right div i {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  color: #888;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  padding: 5px;
  -webkit-transition: background-color ease .4s;
  transition: background-color ease .4s;
}

body .best_seller .product_title .title_right div i:hover {
  background-color: #4FB68D;
  color: white;
}

body .best_seller .product_title .title_right div i:hover .add_cart {
  bottom: 0 !important;
}

body .best_seller .card {
  border: 1px solid #ebebeb;
}

body .best_seller .card:hover {
  border-color: #4fb68d;
}

body .best_seller .card:hover .add_cart {
  bottom: 0 !important;
  opacity: 1 !important;
}

body .best_seller .card:hover .card-body {
  padding-bottom: 15px;
}

body .best_seller .card:hover .card-header i {
  font-size: 22px;
  padding: 12px;
}

body .best_seller .card .card-header {
  background-color: #fff;
  position: relative;
  border-bottom: 0;
  position: relative;
}

body .best_seller .card .card-header i {
  font-size: 0px;
  display: inline-block;
  padding: 0px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  cursor: pointer;
}

body .best_seller .card .card-header i:hover {
  color: white;
  background-color: #4fb68d;
}

body .best_seller .card .card-header img {
  width: 100%;
}

body .best_seller .card .card-header span {
  display: inline-block;
  background-color: #4FB68D;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 10px;
}

body .best_seller .card .card-body {
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

body .best_seller .card .card-body span {
  font-size: 12px;
  color: #999;
}

body .best_seller .card .card-body h6 {
  font-size: 14px;
  font-weight: 700;
}

body .best_seller .card .card-body > p {
  color: #9b9b9b;
  font-size: 14px;
}

body .best_seller .card .card-body div > i {
  font-size: 16px;
  color: #FDD835;
}

body .best_seller .card .card-body .add_cart {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: -50px;
  opacity: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  padding: 2px 12px 20px;
}

body .best_seller .card .card-body .add_cart .add_cart_left p {
  font-weight: 700;
  font-size: 15px;
  position: relative;
  margin-bottom: 0;
  line-height: 28px;
  cursor: pointer;
}

body .best_seller .card .card-body .add_cart .add_cart_left p:hover {
  color: #4fb68d;
}

body .best_seller .card .card-body .add_cart .add_cart_left p:hover::after {
  background-color: #4fb68d;
}

body .best_seller .card .card-body .add_cart .add_cart_left p::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
}

body .best_seller .card .card-body .add_cart .add_cart_right i {
  font-size: 22px;
  color: #253237;
  margin-left: 5px;
  cursor: pointer;
}

body .best_seller .card .card-body .add_cart .add_cart_right i:hover {
  color: #4fb68d;
}

body .featured_products {
  background-color: #F3F3F3;
  padding: 40px 0;
  background: url(../img/featured/feature-bg.jpg);
  background-size: cover;
}

body .featured_products .featured_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .featured_products .featured_img img {
  width: 100%;
}

body .featured_products .featured_product_item {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid white;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

body .featured_products .featured_product_item:hover .featured_product_img i {
  font-size: 18px;
  padding: 10px;
}

body .featured_products .featured_product_item:hover {
  border: 1px solid #4fb68d;
}

body .featured_products .featured_product_item .featured_product_img {
  position: relative;
}

body .featured_products .featured_product_item .featured_product_img img {
  width: 170px;
}

body .featured_products .featured_product_item .featured_product_img i {
  font-size: 0px;
  display: inline-block;
  padding: 0px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  cursor: pointer;
  color: black;
}

body .featured_products .featured_product_item .featured_product_img i:hover {
  color: white;
  background-color: #4fb68d;
}

body .featured_products .featured_product_item .featured_product_details span {
  color: #999;
  font-size: 12px;
}

body .featured_products .featured_product_item .featured_product_details h6 {
  font-size: 14px;
  font-weight: 700;
}

body .featured_products .featured_product_item .featured_product_details div i {
  font-size: 14px;
  color: #fdd835;
}

body .featured_products .featured_product_item .featured_product_details p {
  color: #9b9b9b;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */